.container {
  width: 100%;
  min-height: 200px;

  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #222;
  background: linear-gradient(0deg, rgba(30, 30, 30, 0.5) 1.56%, #1e1e1e 100%);
  backdrop-filter: blur(12px);
  &.tablewrap {
    padding: 0;
    & > .graph-title {
      padding: 1rem 0 0 0.5rem;
    }
    & > .graph-sub-title {
      padding: 1rem 0 0.5rem 0.5rem;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url('/dashboard/icons/icon-dot.svg');
    background-size: 3px 15px;
    height: 15px;
    width: 3px;
  }
}

.graph-title {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1rem;
}

.graph-sub-title {
  color: #acacac;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 1rem;
}

.graph-unit {
  color: #c5c5d3;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 15px */
  margin-left: 1rem;
}
.graph-x-label {
  width: 100%;
  color: #c5c5d3;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 15px */
  text-align: center;
}
.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  align-items: stretch;
  height: 100%;
  & > div {
    height: 100%;
    display: flex;
    padding-left: 1rem;
    justify-content: flex-start;
    align-items: center;
    // padding: 0.5rem;
    border-top: 1px solid rgba(217, 217, 217, 0.53);
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      font-weight: 600;
    }
  }
}

.cloud-performance {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  .top {
    font-size: 100px;
    .unit {
      font-size: 50px;
      font-weight: 400;
    }
  }
  .bottom {
    color: #7c7e88;
    font-size: 30px;
  }
}
.cloud-safety {
  flex: 1;
  width: 100%;
  background: url('/dashboard/safety.svg') center / contain no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  & > span {
    margin-left: 1.2rem;
    display: block;
    color: #a0aec0;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    .big {
      color: #fff;
      font-family: Poppins;
      font-size: 50px;
      font-weight: 600;
      letter-spacing: 2.5px;
      line-height: 100%;
    }
  }
}
