.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100%;
  height: auto;
  stroke-linecap: round;
}
.children {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.ani {
  animation: preloader 3s infinite ease;
  transform-origin: 50% 50%;
  will-change: transform, stroke-opacity;
}

@keyframes preloader {
  0% {
    stroke-opacity: 0;
  }
  5% {
    stroke-opacity: 1;
  }
  30% {
    transform: rotate(180deg);
    stroke-opacity: 0;
  }
  100% {
    transform: rotate(180deg);
    stroke-opacity: 0;
  }
}

.progress {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: progress;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  will-change: stroke-dashoffset;
}

@keyframes progress {
  100% {
    stroke-dashoffset: 0;
  }
}
