.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem 0;
  color: #fff;
  background-color: #000;
  opacity: 0.9;
  gap: 8rem;
  background-image: url('/storage/wave.svg');
  background-repeat: no-repeat;
  :global(.ant-input-affix-wrapper) {
    border-radius: 4px;
    border: 1px solid #222;
    background: #121213;
    &:hover {
      border: 1px solid #222;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(34, 34, 34, 0.1);
    }
    & > :global(.ant-input) {
      background: #121213;
      color: #fff;
    }
  }
}
.wrap {
  width: min(1400px, 100vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}
.rowbox {
  width: min(1400px, 100vw);
  height: max-content;
  gap: 1rem;
  align-items: stretch;
  display: flex;

  justify-content: space-between;

  &.left {
    width: auto;
    color: #a1a1a1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.1px;
    & .active {
      color: #fff;
    }
  }
  &.right {
    width: auto;
    align-items: flex-end;
    height: 100%;
    gap: 0.5rem;
    & > .icon {
      position: relative;
      width: 24px;
      height: 36px;
      &:nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
}
.colbox {
  width: min(1400px, 100vw);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 100% */
  letter-spacing: -0.1px;
}
.analysis {
  display: grid;
  width: min(1400px, 100vw);
  gap: 0 1rem;
  border: 1px solid #222;
  border-radius: 4px;
  backdrop-filter: blur(30px);
  padding: 4rem;
  grid-template-columns: repeat(6, 1fr);

  & > div {
    &:nth-child(1) {
      grid-column: 1/6;
    }
    &:nth-child(2) {
      display: flex;
      align-items: flex-end;
      color: #fff;
      font-family: Pretendard;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &:nth-child(3) {
      grid-column: 1/7;

      height: max(150px, 20vh);
      padding: 1rem 0 4rem 0;
    }
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .label-title {
    color: #9ea4b8;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .label-value {
    color: #fff;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.folder {
  flex: 1;
  display: flex;
  padding: 1.5rem;
  gap: 1.5rem;
  border-radius: 4px;
  border: 1px solid #222;
  background: linear-gradient(0deg, rgba(30, 30, 30, 0.5) 1.56%, #1e1e1e 100%);
  .label {
    .label-title {
      color: #fff;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.1px;
    }
    .label-value {
      color: #a1a1a1;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.1px;
    }
  }
}
