@import './index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
  padding: 0.2rem 0;
}

.btn {
  @apply inline-flex h-9 cursor-pointer items-center justify-center rounded-md bg-transparent px-2 text-sm font-medium transition-colors hover:bg-zinc-100 focus:outline-none focus:bg-zinc-100 active:scale-95 disabled:pointer-events-none disabled:opacity-50 data-[state=open]:bg-transparent dark:text-zinc-100 dark:hover:bg-zinc-800 dark:hover:text-zinc-100 dark:focus:bg-zinc-800 dark:focus:ring-zinc-400 dark:focus:ring-offset-zinc-900 dark:data-[state=open]:bg-transparent;
}

*::-webkit-scrollbar {
  width: 15px;
  height: 1px;
}
*::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #212121;
}
*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.hide-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.ant-input-number-handler-wrap {
  display: none !important;
}
